[Unit]
Description=FCS LPC Motor service
Requires=network-online.target

[Service]
ExecStart=/srv/lsst/bin/fcs-lpc-motor web

[Install]
WantedBy=multi-user.target

