[Unit]
Description=FCS LPC Motor service

[Service]
ExecStart=/srv/lsst/bin/fcs-lpc-motor web
Requires=network-online.target

[Install]
WantedBy=multi-user.target

